.terms-container{
  padding: 0 15%;
  margin-bottom: 200px;
}
.terms-container h1{
  border-bottom: 2px solid #b71c1c;
  padding-bottom: 14px;
  color: #b71c1c;
  font-size: 22px;
}
.terms-container p{
  color: #9e9e9e;
}
@media(max-width:767px){
  .terms-container{
    padding: 0 10%;
  }
}